<script setup>
  import Notification from './Notification.vue'
  import { DROPDOWN_NUM_ENTRIES } from './const.js'

  const props = defineProps({
    notifications: Array,
    notificationCount: Number,
  })
  const emits = defineEmits(['showAll', 'mark_read', 'postpone'])
  const unvisibleCount = props.notificationCount - DROPDOWN_NUM_ENTRIES
  const message = `... et ${unvisibleCount} autres notifications`

  const showAll = () => {
    emits('showAll')
    return false
  }
</script>
<template>
  <ul>
    <Notification
      v-for="notification of notifications"
      :key="notification.id"
      :notification="notification"
      @mark_read="(notification) => $emit('mark_read', notification)"
      @postpone="(notification) => $emit('postpone', notification)"
    />
    <li v-if="unvisibleCount">
      <div>
        <small>{{ message }}</small>
        <br />
        <a @click="showAll">Voir toutes les notifications</a>
      </div>
    </li>
  </ul>
</template>
