<script setup>
  import { ref } from 'vue'
  import { onClickOutside } from '@vueuse/core'

  import { storeToRefs } from 'pinia'
  import { useNotificationMessageStore } from '@/stores/notifications'
  import Notification from './Notification.vue'
  import Icon from '@/components/Icon.vue'

  const emits = defineEmits(['close', 'mark_read', 'postpone'])
  const store = useNotificationMessageStore()
  // Load notifications destinated to the message channel
  await store.loadChannel(1000)
  const { collectionMetaData, collection } = storeToRefs(store)

  const onClose = () => emits('close')
  const modalTarget = ref(null)
  onClickOutside(modalTarget, (event) => {
    onClose()
  })
</script>
<template>
  <section class="modal_view small">
    <div
      role="dialog"
      id="notif_history"
      aria-modal="true"
      aria-labelledby="notif_history_title"
      class="appear"
      style="display: flex"
    >
      <div class="modal_layout" ref="modalTarget">
        <header>
          <button
            class="icon only unstyled close"
            title="Masquer cette fenêtre"
            aria-label="Masquer cette fenêtre"
            @click="onClose"
          >
            <Icon name="times" />
          </button>
          <h2 id="notif_history_title">Notifications</h2>
        </header>
        <div class="modal_content_layout">
          <div class="modal_content notifications">
            <ul>
              <Notification
                v-for="notification of collection"
                :key="notification.id"
                :notification="notification"
              />
            </ul>
          </div>
          <footer>
            <button
              type="reset"
              @click="onClose"
              title="Fermer cette fenêtre"
              aria-label="Fermer cette fenêtre"
            >
              Fermer
            </button>
          </footer>
        </div>
      </div>
    </div>
  </section>
</template>
