<div class='payment-line-modal-container'></div>
<div class='table_container'>
	<table class="hover_table">
		<thead>
			<tr>
				<th scope='col' class='col_text description'>Libellé</th>
				{{#if show_date}}
				<th scope='col' class='col_date date'>Date</th>
				{{/if}}
				<th scope='col' class='col_number'>Montant</th>
				<th scope='col' class='col_actions width_two' title='Actions'><span class="screen-reader-text">Actions</span></th>
				<th scope="col" class="col_actions row_ordering" title="Actions (classement)"><span class="screen-reader-text">Actions (classement)</span></th>
			</tr>
		</thead>
		<tbody class="deposit lines">		
		</tbody>
		<tbody class="paymentlines lines">	
		</tbody>
		<tfoot>
			<tr class='row actions'>
				<td 
					colspan='
					{{#if show_date}}5{{else}}4{{/if}}
					'
					class='col_actions'>
					<span class='addbutton'></span>
				</div>
			</tr>
		</tfoot>
	</table>
</div>
<div class='modalregion'></div>
