// user account pages
@import './variables';

body.endi[class*="estimations/{id}"],
body.endi[class*="invoices/{id}"] {
	.main_actions {
		div[role="group"] {
			order: 0;
		}
		.child-container {
			> div {
				display: flex;
				> div {
					margin: 0 0 $unitPadding $unitPadding;
				}
			}
		}
	}
	.layout.flex {
		div[class*="col-md"] {
			> div:not(:last-child) {
				padding-bottom: ($unitPadding * 4);
			}
		}
	}
	.quotation_item_title {
		justify-content: space-between;
		padding: 0 2px $unitPadding;
		width: 100%;
		h3 em {
			font-weight: normal;
		}
		> div:last-child:not(:first-child) {
			white-space: nowrap;
		}
	}
	.separate_block {
		.form-group {
			padding-bottom: $unitPadding;
		}
	}
	.content {
		> button {
			margin: $unitPadding;
		}
	}
	.ht-before-discounts {
		table tr.row_recap th,
		table tr.row_recap td:not(.level_spacer):not(.empty) {
			background: none;
		}
	}
}

@media ( min-width: $wideWidth ) {
	body.endi[class*="estimations/{id}"],
	body.endi[class*="invoices/{id}"] {
		.main_actions {
			div.totals {
				order: 1;
			}
			div.child-container {
				order: 2;
			}
		}
	}
}

@media ( max-width: $wideWidth ) {
	body.endi[class*="estimations/{id}"],
	body.endi[class*="invoices/{id}"] {
		.main_actions {
			flex-wrap: wrap;
			div.totals {
				order: 2;
				width: 100%;
			}
			div.child-container {
				order: 1;
			}
		}
	}
}
