<div class="content_vertical_padding separate_top">
	
    <div class="layout flex two_cols">
        <h2>Détail de la facture</h2>
        {{#add}}
            <div class="align_right">
				<button class='btn btn-primary add'>
					<svg><use href="/static/icons/endi.svg#plus"></use></svg>Ajouter un achat
				</button>
            </div>
		{{/add}}
    </div>
	<div class='group-errors'></div>
	<div class="table_container">
		<table class="opa hover_table">
			<thead>
				<th scope="col" class="col_text">Type de dépense</th>
				<th scope="col" class="col_text">Description</th>
                <th scope="col" class="col_text">Rattaché à…</th>
                <th scope="col" class="col_number" title="Montant Hors Taxes"><span class="screen-reader-text">Montant </span>H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span></th>
                <th scope="col" class="col_number" title="Taux de TVA"><span class="screen-reader-text">Taux de </span>TVA</th>
				<th scope="col" class="col_number">Total TTC</th>
				{{#edit}}
					<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
				{{/edit}}
			</thead>
			<tbody class='lines'>
			</tbody>
			<tfoot>
                <tr class="row_recap">
				    <th scope='row' class='col_text' colspan="3">Total</th>
				    <td class='total_ht col_number'></td>
				    <td class='total_tva col_number'></td>
				    <td class='total_ttc col_number'></td>
				    {{#edit}}
				        <td class="col_actions width_three">&nbsp;</td>
				    {{/edit}}

                </tr>
			</tfoot>
		</table>
	</div>
</div>
