<div class="layout flex quotation_item_title">
  <div>
    <h3>
      {{#if title}}
        {{title}}
      {{else}}
        <small>
          <em>
            Aucun titre n’a été saisi pour ce chapitre
          </em>
        </small>
      {{/if}}
    </h3>
    <p>
      {{#if description}}
        {{{description}}}
      {{else}}
        <small>
          <em>
            Aucun détail n’a été saisi pour ce chapitre
          </em>
        </small>
      {{/if}}
    </p>
  </div>
</div>
{{#if collectionRawHtml}}
  <div class="table_container">
    <div class="errors"></div>
    <table class="hover_table top_align_table collapsible">
      <thead>
        <tr>
          <td class="level_spacer"></td>
          <th scope="col" class="col_text" colspan="2">
            Description
          </th>
          {{!-- <th
            scope="col"
            class="col_number hidden_pdf"
            title="Cout Unitaire Hors Taxes"
          >
            Cout U.<span class="screen-reader-text">nitaire</span> H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
          </th>
          <th scope="col" class="col_number" title="Prix Unitaire Hors Taxes">
            Prix U.<span class="screen-reader-text">nitaire</span> H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
          </th>
          <th scope="col" class="col_number quantity" title="Quantité">
            Q<span class="screen-reader-text">uanti</span>té
          </th>
          <th scope="col" class="col_text unity">
            Unité
          </th> --}}
          <th scope="col" class="col_number" title="Prix Hors Taxes à facturer">
            <span class="screen-reader-text">Prix </span>H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes à facturer</span>
          </th>
          <th scope="col" class="col_number" title="Montant TVA à facturer">
            <span class="screen-reader-text">Montant de la </span>TVA<span class="screen-reader-text"> à facturer</span>
          </th>
          <th scope="col" class="col_number" title="Prix Toutes Taxes comprises">
            <span class="screen-reader-text">Prix </span>H<span class="screen-reader-text">outes </span>T<span class="screen-reader-text">axes comprises à facturer</span>
          </th>
          {{!-- <th scope="col" class="col_number tva" title="Taux de TVA et compte produit">
            <span class="screen-reader-text">Taux de </span>TVA<span class="screen-reader-text"> et compte produit</span>
          </th>
          <th scope="col" class="col_actions width_tree" title="Actions">
            <span class="screen-reader-text">Actions</span>
          </th> --}}
          <th scop="col" class="col_percentage_graphic" title="Facturation">
            Facturation
          </th>
          <th scope="col" class="col_number" title="Prix Hors Taxes">
            <span class="screen-reader-text">Prix </span>H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
          </th>
        </tr>
        <tr class="row_recap">
          <td class="level_spacer"></td>
          <th
            scope="row"
            class="col_text"
            colspan="6"
            title="Sous-total Hors Taxes"
          >
            Sous-total H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
          </th>
          <td class="col_number">
            {{{total_ht}}}
          </td>
        </tr>
      </thead>
      {{{collectionRawHtml}}}
    </table>
  </div>
{{/if}}