<section class="modal_view size_middle">
    <div
        role="dialog"
        id="product-forms"
        aria-modal="true"
        aria-labelledby="product-forms_title"
    >
        <div class="modal_layout">
            <header>
                <button
                    class="icon only unstyled close"
                    title="Fermer cette fenêtre"
                    aria-label="Fermer cette fenêtre"
                    type='button'
                >
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="product-forms_title">
                    {{title}}
                </h2>
            </header>
            {{#if add}}
            <nav>
                <ul class="nav nav-tabs modal-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a
                            href="#form-container"
                            aria-controls="form-container"
                            id="form-tabtitle"
                            role="tab"
                            data-toggle="tab"
                            tabindex="-1"
                        >
                            Saisie libre
                        </a>
                    </li>
                    <li role="presentation">
                        <a
                            href="#catalog-container"
                            aria-controls="catalog-container"
                            id="catalog-tabtitle"
                            role="tab"
                            tabindex="-1"
                            data-toggle="tab"
                        >
                            Depuis le catalogue
                        </a>
                    </li>
                </ul>
            </nav>
            {{/if}}
            <div class="tab-content">
                <div
                    role="tabpanel"
                    class="tab-pane fade in active"
                    id="form-container"
                    aria-labelledby="form-tabtitle"
                >
                    <form class="modal_content_layout layout product-form">
                        <div class="modal_content">
                            <div class="errors"></div>
                            <fieldset>
                                <div class="row form-row">
                                    <div class="field-order"></div>
                                </div>
                                <div class="field-description"></div>
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <div class="field-mode"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="field-supplier_ht"></div>
                                        <div class="field-ht"></div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <div class="field-margin_rate"></div>
                                    </div>
                                </div>
                                <div class="field-quantity_inherited"></div>
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <div class="field-work_unit_quantity"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="field-unity"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <footer>
                            <button
                                class="btn btn-primary"
                                type="submit"
                                value="submit"
                                title="{{title}}"
                                aria-label="{{title}}"
                            >
                                <svg><use href="/static/icons/endi.svg#check"></use></svg>
                                Valider
                            </button>
                            <button
                                class="btn"
                                type="reset"
                                value="submit"
                            >
                                Annuler
                            </button>
                        </footer>
                    </form>
                </div>
                {{#if add}}
                <div role="tabpanel" class="tab-pane" id="catalog-container" aria-labelledby="catalog-tabtitle"></div>
                {{/if}}
            </div>
        </div>
    </div>
</section>
